#about {
    padding: 2rem;
    background-color: var(--dark-black);
    color: var(--light-or);
    transition: all 0.6s ease;
    animation: fadeInUp 0.6s ease forwards;
}

#about p {
    font-size: 1.2rem;
}
