* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}

/* Variables CSS */
:root {
    --dark-black: #000;
    --light-black: #111111;
    --very-light-or: #e9af70;
    --light-or: #BE8445;
    --dark-or: #5E3F1D;
    --white-color: #fff;
    --text-dark: #3b2f2f;
    --shadow-color: rgba(59, 47, 47, 0.3);
    --hypertext-color: #0300ce;
    --text-decoration-color: red;
    --bg-header: #e5d2b3af;
    --transition: all 0.3s ease;
}

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    /* line-height: 1.6; */
    overflow-x: hidden;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--light-or);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-or);
    border-radius: 4px;
}

/* Section principale */
section {
    padding: 2rem;
    transition: all 0.6s ease;
    animation: fadeInUp 0.6s ease forwards;
}

/* Style de base du lien */
.colored-link {
    color: var(--text-dark);
    text-decoration: underline #3b2f2f;
    transition: color 0.3s, text-decoration-color 0.3s;
    font-size: 1rem;

}

.colored-link:hover {
    color: var(--accent-color);
    text-decoration-color: #5c4430;
}

/* Titres */
h2 {
    font-family: 'Cinzel', serif;
    color: var(--light-or);
    text-align: center;
    margin-bottom: 2rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    max-width: 100%;
    min-width: 75%;
    position: relative;
    text-shadow: -3px -1px 0 var(--dark-or),
        1px -1px 0 var(--dark-or),
        -1px 1px 0 var(--dark-or),
        1px 1px 0 var(--dark-or);
}

/* Responsive Design */

@media (max-width: 1200px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-menu ul {
        gap: 1rem;
    }

    .nav-menu a {
        font-size: 0.9rem;
    }

    .main-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 1rem;
    }

    section {
        padding: 1.5rem;
    }

    .main-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .skill-icons {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 0.5rem;
    }

    /* Centres d'intérêt */
    #interets ul {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    section {
        padding: 1rem;
    }

    .project-list {
        grid-template-columns: 1fr;
    }

    .skill-icons {
        grid-template-columns: repeat(3, 1fr);
    }

    form {
        padding: 0 1rem;
    }

    /* Centres d'intérêt */
    #interets ul {
        grid-template-columns: 1fr;
    }

    #interets ul li {
        width: 100%;
    }

    .main-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .skill-icons {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-icon img {
        width: 30px;
        height: 30px;
    }

    .skill-icon p {
        font-size: 0.8rem;
    }

    /* Centres d'intérêt */
    #interets ul li {
        font-size: 0.9em;
        padding: 10px;
    }

    .main-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}