footer {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--light-black);
    border-top: 2px solid var(--border-color);
        backdrop-filter: blur(10px);

}

footer p {
    font-size: 1rem;
    font-style: italic;
    color: var(--light-or);
}
